telecom_analytics:
  target: dev
  outputs:
    dev:
      type: postgres
      host: localhost
      user: telecom
      password: telecom
      port: 5432
      dbname: telecom
      schema: gold
      threads: 2
